.mautic-form--loading {
  position: relative;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.mautic-form--loading:before {
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  margin: auto;
  z-index: 5;
  background: white;
  height: calc(100% + 5px);
  width: 100%;
}

.mautic-form--loading:after {
  content: '';
  position: absolute;
  top: -0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  margin: auto;
  z-index: 6;
  background: url(../images/loading.png);
  background-size: 1.9rem;
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  -webkit-animation: spin 1s infinite linear;
}
